In [ ]:
import random

In [ ]:
names = []

# Student_1....Student_50
for i in range(1,51):
  names.append('Student_'+str(i))

print(names)

['Student_1', 'Student_2', 'Student_3', 'Student_4', 'Student_5', 'Student_6', 'Student_7', 'Student_8', 'Student_9', 'Student_10', 'Student_11', 'Student_12', 'Student_13', 'Student_14', 'Student_15', 'Student_16', 'Student_17', 'Student_18', 'Student_19', 'Student_20', 'Student_21', 'Student_22', 'Student_23', 'Student_24', 'Student_25', 'Student_26', 'Student_27', 'Student_28', 'Student_29', 'Student_30', 'Student_31', 'Student_32', 'Student_33', 'Student_34', 'Student_35', 'Student_36', 'Student_37', 'Student_38', 'Student_39', 'Student_40', 'Student_41', 'Student_42', 'Student_43', 'Student_44', 'Student_45', 'Student_46', 'Student_47', 'Student_48', 'Student_49', 'Student_50']

In [ ]:
random.seed(3)

birth_year = []

for i in range(50):
  birth_year.append(random.randint(1988,2002))

print(birth_year)

[1991, 1997, 1996, 1990, 1993, 2002, 1997, 1995, 1998, 1997, 1989, 1997, 1988, 2002, 2001, 1995, 1992, 1996, 1991, 1991, 1999, 1995, 1996, 2001, 1996, 1995, 1994, 1998, 2001, 1990, 1991, 1998, 1990, 2001, 2002, 1996, 1994, 1999, 1988, 1998, 2000, 1989, 1990, 2000, 1997, 1988, 1992, 2000, 1988, 2001]

In [ ]:
?random.randint

In [ ]:
#@title
b2 = []

for i in range(50):
  b2.append(random.randrange(1988,2002))
print(b2)

[1992, 1995, 1997, 1999, 1994, 1999, 2000, 1994, 1994, 1999, 2000, 1997, 1995, 1990, 1993, 1989, 1988, 1990, 1995, 1991, 1992, 1998, 1994, 2000, 1998, 2001, 1992, 1994, 1996, 2001, 1994, 1997, 1993, 1996, 1997, 1994, 1997, 1991, 1993, 1998, 1988, 2001, 1992, 1997, 1998, 1999, 1990, 1999, 2001, 1993]

In [ ]:
student_attitude = []

num = 0
while num<50:
  student_attitude.append(random.choice(['Positive', 'Neutral', 'Negative']))
  num += 1
  #print(num)

print(student_attitude)
print(len(student_attitude))

['Neutral', 'Negative', 'Positive', 'Neutral', 'Positive', 'Positive', 'Neutral', 'Negative', 'Negative', 'Positive', 'Negative', 'Neutral', 'Neutral', 'Positive', 'Positive', 'Positive', 'Negative', 'Positive', 'Neutral', 'Negative', 'Positive', 'Neutral', 'Neutral', 'Negative', 'Positive', 'Negative', 'Neutral', 'Negative', 'Positive', 'Neutral', 'Neutral', 'Negative', 'Neutral', 'Neutral', 'Neutral', 'Negative', 'Neutral', 'Neutral', 'Neutral', 'Negative', 'Neutral', 'Positive', 'Neutral', 'Positive', 'Positive', 'Positive', 'Neutral', 'Negative', 'Negative', 'Neutral']
50

In [ ]:
# num += 1 == num = num + 1

In [ ]:
?random.choice

In [ ]:
student_score = []
# from 0..100

for i in range(50):
  student_score.append(random.randint(0,100))

print(student_score)

[71, 91, 28, 4, 95, 58, 96, 84, 95, 66, 36, 69, 43, 29, 8, 75, 36, 15, 31, 5, 4, 88, 65, 25, 55, 73, 6, 1, 61, 95, 15, 21, 64, 38, 30, 84, 2, 67, 68, 52, 6, 78, 14, 43, 16, 32, 69, 61, 100, 7]